- const sidebarItem = [{"src": "../images/four-square-gray.png", "alt": "four icon", "href": "#", "title": "Máy in phun khổ lớn"},{"src": "../images/four-square-gray.png", "alt": "four icon", "href": "#", "title": "Máy quét Canon 3D"}, {"src": "../images/four-square-gray.png", "alt": "four icon", "href": "#", "title": "Máy hàn điện Alunima"}, {"src": "../images/four-square-gray.png", "alt": "four icon", "href": "#", "title": "Máy khoan Decameta"}, {"src": "../images/four-square-gray.png", "alt": "four icon", "href": "#", "title": "Máy phay đa năng CNC"}, {"src": "../images/four-square-gray.png", "alt": "four icon", "href": "#", "title": "Máy mài, tiện DC 12V"}, {"src": "../images/four-square-gray.png", "alt": "four icon", "href": "#", "title": "Máy khoan, máy cắc CNC"}, {"src": "../images/four-square-gray.png", "alt": "four icon", "href": "#", "title": "Máy quay thông minh N3"}, {"src": "../images/four-square-gray.png", "alt": "four icon", "href": "#", "title": "Motor R34C đa dụng"}, {"src": "../images/four-square-gray.png", "alt": "four icon", "href": "#", "title": "Máy in laser mày 3D"}]
- const productItem = [{"src": "../images/product.jpg", "alt": "product", "price": "1.550.000 Đ", "name": "Máy khoan black decker", "href1": "#", "btn1": "Mua ngay", "href2": "#", "btn2": "Xem chi tiết"},{"src": "../images/product.jpg", "alt": "product", "price": "1.550.000 Đ", "name": "Máy khoan black decker", "href1": "#", "btn1": "Mua ngay", "href2": "#", "btn2": "Xem chi tiết"},{"src": "../images/product.jpg", "alt": "product", "price": "1.550.000 Đ", "name": "Máy khoan black decker", "href1": "#", "btn1": "Mua ngay", "href2": "#", "btn2": "Xem chi tiết"},{"src": "../images/product.jpg", "alt": "product", "price": "1.550.000 Đ", "name": "Máy khoan black decker", "href1": "#", "btn1": "Mua ngay", "href2": "#", "btn2": "Xem chi tiết"},{"src": "../images/product.jpg", "alt": "product", "price": "1.550.000 Đ", "name": "Máy khoan black decker", "href1": "#", "btn1": "Mua ngay", "href2": "#", "btn2": "Xem chi tiết"},{"src": "../images/product.jpg", "alt": "product", "price": "1.550.000 Đ", "name": "Máy khoan black decker", "href1": "#", "btn1": "Mua ngay", "href2": "#", "btn2": "Xem chi tiết"},]
- const productItem2 = [{"src": "../images/product.jpg", "alt": "product", "name": "Máy khoan black decker", "desc": "Lorem ipsum dolor sit amet, consectetur adipsicing elit, sed do eiusmod tempor incididunt ut labore commo...", "price": "1.550.000 Đ",  "href1": "#", "btn1": "Mua ngay", "href2": "#", "btn2": "Xem chi tiết"},{"src": "../images/product.jpg", "alt": "product", "name": "Máy khoan black decker", "desc": "Lorem ipsum dolor sit amet, consectetur adipsicing elit, sed do eiusmod tempor incididunt ut labore commo...", "price": "1.550.000 Đ",  "href1": "#", "btn1": "Mua ngay", "href2": "#", "btn2": "Xem chi tiết"},{"src": "../images/product.jpg", "alt": "product", "name": "Máy khoan black decker", "desc": "Lorem ipsum dolor sit amet, consectetur adipsicing elit, sed do eiusmod tempor incididunt ut labore commo...", "price": "1.550.000 Đ",  "href1": "#", "btn1": "Mua ngay", "href2": "#", "btn2": "Xem chi tiết"},{"src": "../images/product.jpg", "alt": "product", "name": "Máy khoan black decker", "desc": "Lorem ipsum dolor sit amet, consectetur adipsicing elit, sed do eiusmod tempor incididunt ut labore commo...", "price": "1.550.000 Đ",  "href1": "#", "btn1": "Mua ngay", "href2": "#", "btn2": "Xem chi tiết"},]
- const zero = 0
- 
    sidebarItem2 = [
        {"src": "../images/four-square-gray.png", "alt": "f icon", "href": "#", "title":"0 - 200.000 Đ (45)"},
        {"src": "../images/four-square-gray.png", "alt": "f icon", "href": "#", "title":"200.000 Đ - 500.000 Đ (45)"},
        {"src": "../images/four-square-gray.png", "alt": "f icon", "href": "#", "title":"500.000 - 1000.000 Đ (45)"},
        {"src": "../images/four-square-gray.png", "alt": "f icon", "href": "#", "title":"1000.000 - 2000.000 Đ (45)"},
        {"src": "../images/four-square-gray.png", "alt": "f icon", "href": "#", "title":"Trên 2000.000 Đ (45)"},
    ]

-
    sidebarColor = [
        {"src": "../images/red-color.png", "alt": "f icon", "href": "#", "title":"Màu đỏ (45)"},
        {"src": "../images/yellow-color.png", "alt": "f icon", "href": "#", "title":"Màu vàng (45)"},
        {"src": "../images/blue-color.png", "alt": "f icon", "href": "#", "title":"Màu xanh (45)"},
        {"src": "../images/gray-clor.png", "alt": "f icon", "href": "#", "title":"Màu bạc (45)"},
        {"src": "../images/black-color.png", "alt": "f icon", "href": "#", "title":"Màu đen (45)"},
    ]
-
    sidebarSale = [
        {"src": "../images/sale-product.jpg", "alt": "f icon", "href": "#", "title": "Máy khoan black decker loại 1" , "price": "1.550.000 Đ"},
        {"src": "../images/sale-product.jpg", "alt": "f icon", "href": "#", "title": "Máy khoan black decker loại 1" , "price": "1.550.000 Đ"},
        {"src": "../images/sale-product.jpg", "alt": "f icon", "href": "#", "title": "Máy khoan black decker loại 1" , "price": "1.550.000 Đ"},
        {"src": "../images/sale-product.jpg", "alt": "f icon", "href": "#", "title": "Máy khoan black decker loại 1" , "price": "1.550.000 Đ"},
        {"src": "../images/sale-product.jpg", "alt": "f icon", "href": "#", "title": "Máy khoan black decker loại 1" , "price": "1.550.000 Đ"},
    ]

- 
    productGrid = [
        {"src": "../images/product.jpg", "alt": "product", "price": "1.550.000 Đ", "name": "Máy khoan black decker", "href1": "#", "btn1": "Mua ngay", "href2": "#", "btn2": "Xem chi tiết"}
    ]

- 
    productSame = [
        {"src": "../images/product.jpg", "alt": "product", "price": "1.550.000 Đ", "name": "Máy khoan black decker", "href1": "#", "btn1": "Mua ngay", "href2": "#", "btn2": "Xem chi tiết"},
        {"src": "../images/product.jpg", "alt": "product", "price": "1.550.000 Đ", "name": "Máy khoan black decker", "href1": "#", "btn1": "Mua ngay", "href2": "#", "btn2": "Xem chi tiết"},
        {"src": "../images/product.jpg", "alt": "product", "price": "1.550.000 Đ", "name": "Máy khoan black decker", "href1": "#", "btn1": "Mua ngay", "href2": "#", "btn2": "Xem chi tiết"},
    ]

-
    sidebarItemBlog = [
        {"href": "#", "title": "Đời sống pháp luật (5)"},
        {"href": "#", "title": "Kinh tế trong nước (8)"},
        {"href": "#", "title": "Sức khỏe và gia đình (9)"},
        {"href": "#", "title": "Máy quay thông minh N3"},
        {"href": "#", "title": "Motor R34C đa dụng"},
        {"href": "#", "title": "Công nghệ thông tin (5)"},
        {"href": "#", "title": "Tin tức khác (12)"},
    ]

-
    blogItem = [
        {"src": "../images/blog.jpg","alt": "blog image","href": "#","title":"thế hệ máy khoan cắt cnc đầu tiên đã được tái sử dụng","text1": "Thư năm, ngày","text2":"23/10/2015 8:00 AM","src2":"../images/post-by-icon.png","alt2":"icon","text3":"Đăng bởi &nbsp;","text4":"Design Team","src3": "../images/comment-icon.png","alt3": "comment icon","text5": "12","text6":"Bình luận","desc" :"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam possimus totam esse! Odit sed suscipit quia nesciunt voluptatibus totam ipsa in, ea, rerum dolore debitis ipsam iste dolorum ratione aliquam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam possimus totam esse! Odit sed suscipit quia nesciunt voluptatibus totam ipsa in, ea, rerum dolore debitis ipsam iste dolorum ratione aliquam?"}
    ]