extends list-page.pug

block content
    .row
        for i in productGrid
            +product-grid(i)
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')
        //- .col-12.col-sm-6.col-md-4.product-container
        //-     +product('../images/product.jpg',
        //-         'product', '1.550.000 Đ', 
        //-         'Máy khoan black decker',
        //-         '#', 'Mua ngay', '#', 'Xem chi tiết')