extends index.pug

block main
    .container
        .not-found
            .row
                .col-12.col-md-7.not-found__col
                    .not-found__title 404 Error
                    .not-found__desc Chúng tôi không tìm thấy kết quả nào phù hợp với tìm kiếm của bạn Xin vui lòng trở về trang chủ
                    a(href="index.html").not-found__btn Trang chủ
                .col-12.col-md-5
                    img(src="../images/404.jpg", alt="404")
